*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: var(--clr-dark-orange);
  font-family: Nanum Gothic Coding;
  transition: font-size 0.3s, padding 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h4 {
  line-height: 1.1rem;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-darker-blue: #0f2338;
  --clr-dark-blue: #132e49;
  --clr-light-blue: #245478;
  --clr-light-orange: #f3ba8e;
  --clr-dark-orange: #f48935;
  --clr-darker-orange: #703d17;
  --clr-dark-faded: #0000002f;

  --clr-dark-orange-filter: invert(50%) sepia(53%) saturate(2375%)
    hue-rotate(340deg) brightness(108%) contrast(91%);
  --clr-dark-blue-filter: invert(14%) sepia(22%) saturate(2175%)
    hue-rotate(174deg) brightness(20%) contrast(93%);

  --inline-padding: 50px;
  --block-padding: 10px;

  --horizontal-line: 0.15rem solid var(--clr-dark-orange);
}

body {
  background-image: linear-gradient(
    to right,
    var(--clr-darker-blue),
    var(--clr-darker-orange)
  );
}

/* Navbar */

.navbarContainer {
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: var(--block-padding) var(--inline-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-dark-blue);
  box-shadow: 0 0 50px 10px var(--clr-darker-blue);
  transform: translateY(0px);
  transition: transform 0.3s;
}
.navbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--clr-light-blue);
  transition: 0.3s;
}
.navbarLogo img {
  filter: var(--clr-dark-orange-filter);
  padding: 5px;
}
.navbarMenu {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
.navbarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
  transition: transform 0.3s;
}
.navbarMenu * {
  height: 50px;
  width: 85px;
}
.navbarBtn {
  background-color: var(--clr-light-blue);
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}
.navbarDropdownMenu {
  right: 0;
  top: 0;
  padding: var(--block-padding) var(--inline-padding);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--clr-dark-faded);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 9999;
}
.navbarDropdownMenu * {
  height: 100px;
  width: 100%;
}
.navbarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  filter: var(--clr-dark-orange-filter);
}
.navbarDropdownBtn {
  display: none;
}

.flags {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.flagsItem {
  width: 30px;
}
.flagsImg {
  cursor: pointer;
  display: block;
  filter: sepia();
  transition: 0.3s;
}

.flagsImg:hover,
.flagsImg:focus {
  filter: none;
  transform: translateY(-4px);
}

.navbarBtn:hover,
.navbarBtn:focus,
.navbarLogo:hover,
.navbarLogo:focus {
  background: transparent;
  border: 2px solid var(--clr-dark-orange);
}
.navbarItem:hover:not(button),
.navbarItem:focus:not(button),
.navbarDropdownBtn:hover,
.navbarDropdownBtn:focus {
  transform: translateY(-4px);
  color: var(--clr-light-orange);
}

.hide {
  display: none;
}

@media (max-width: 1100px) {
  .navbarMenu {
    display: none;
  }
  .navbarDropdownBtn {
    display: flex;
  }
}

/* Header texts */

.headerContainer {
  padding-inline: var(--inline-padding);
  margin-block: 400px;
  display: flex;
  flex-direction: column;
  row-gap: var(--block-padding);
}
.headerContainer p {
  font-size: 2rem;
}
.headerContainer p > span {
  color: var(--clr-light-orange);
}
.headerContainer h1 {
  font-size: 4rem;
}
.headerContainer h4 {
  color: var(--clr-light-orange);
  font-size: 1.1rem;
  margin-right: 15%;
}
@media (max-height: 650px) {
  .headerContainer {
    margin-block: 250px;
  }
}

/* Section utility clases */

.horizontalLine {
  border-top: var(--horizontal-line);
  width: 100%;
  transform: translateY(50%);
}
.right {
  border-color: var(--clr-dark-blue);
  color: var(--clr-dark-blue);
}
.left {
  border-color: var(--clr-light-orange);
  color: var(--clr-light-orange);
}
.sectionHeader {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}
.sectionHeader h1 {
  text-transform: uppercase;
  padding-inline: 15px;
  font-size: 4.5rem;
  background-image: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-dark-blue) 65%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* About Section */

.aboutContainer {
  margin-top: 200px;
}
.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--inline-padding);
  padding: var(--inline-padding);
}
.aboutContent ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
}
.aboutContent p {
  font-size: 1.1em;
  text-align: justify;
}
.aboutContent ul li p {
  font-size: 1.5em;
  color: var(--clr-light-orange);
  text-align: center;
}
.aboutRightColumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.aboutLeftColumn {
  display: flex;
  flex-direction: column;
}
.aboutRightColumn img {
  position: absolute;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 40px 5px var(--clr-darker-blue);
  filter: sepia();
  transition: filter 0.3s;
}
.aboutRightColumn img:hover,
.aboutRightColumn img:focus {
  filter: none;
}
.skillItem {
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 80%;
  align-items: center;
  padding-bottom: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
.skillItem i {
  filter: var(--clr-dark-orange-filter);
  font-size: 1.5em;
}

/* Proyecto Section */

.proyectosContent {
  padding: var(--inline-padding);
}
.proyecto {
  padding: var(--inline-padding);
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-block: var(--inline-padding);
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border-start-end-radius: 150px;
  background-image: linear-gradient(
    to left,
    var(--clr-darker-blue),
    #00000000 75%
  );
}
.proyectoImageHolder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  height: 300px;
}
.proyectoImageHolder img {
  border-radius: 20px;
  filter: sepia();
  object-fit: contain;
  max-width: 100%;
  max-height: 80%;
  transition: filter 0.3s;
}
.proyectoImageHolder img:hover,
.proyectoImageHolder img:focus {
  filter: sepia(0);
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.textContainer h2 {
  align-self: flex-start;
  font-size: 2rem;
  padding-bottom: 2px;
}
.textContainer h4 {
  margin-block: 15px;
  border-radius: 20px;
  text-align: justify;
}
.textContainer span {
  align-self: flex-end;
  margin-bottom: 30px;
}
a {
  text-transform: capitalize;
  font-weight: bolder;
  padding-bottom: 2px;
  color: var(--clr-light-orange);
  border-bottom: 2px solid #00000000;
  transition: border-bottom 0.3s;
}
i {
  filter: var(--clr-dark-orange-filter);
  font-size: 0.8rem;
  transition: transform 0.3s;
}
a:hover i {
  transform: translate(0.1rem, -0.1rem);
}
a:hover:has(i) {
  border-bottom: 2px solid var(--clr-dark-orange);
}
.techUsedContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-self: flex-end;
}
.techUsedContainer .skillItem {
  column-gap: 10px;
  padding-inline: 10px;
  text-wrap: nowrap;
  font-size: 0.75rem;
}
.skillItem p {
  color: var(--clr-light-orange);
}

/* Contact Section */

.contactContent {
  display: flex;
  flex-direction: column;
}
.contactSocialsContainer {
  padding-block: var(--inline-padding);
  display: flex;
  flex-direction: row;
}
.contactSocials {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-inline: 20px;
  margin-right: calc(50% - 50px);
  column-gap: 5px;
}
.contactTextContainer {
  padding-inline: var(--inline-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}

.contactMailContainer {
  padding-block: var(--inline-padding);
  display: flex;
  flex-direction: row;
}
.contactMailContainer button {
  margin-inline: 20px;
  margin-left: calc(50% - 40px);
  background-color: var(--clr-light-blue);
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  text-wrap: nowrap;
  transition: 0.3s;
}
.contactMailContainer button:hover,
.contactMailContainer button:focus {
  background: transparent;
  border: 2px solid var(--clr-dark-orange);
}

@media (max-width: 760px) {
  :root {
    --inline-padding: 25px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  p {
    font-size: 0.7rem;
  }
  .proyecto {
    flex-direction: column;
    border-radius: 75px;
    background: linear-gradient(180deg, var(--clr-darker-blue), #00000000 75%);
  }
  .proyectoImageHolder {
    align-items: center;
    margin-block: var(--inline-padding);
    max-height: 200px;
  }
  .proyectoImageHolder img {
    border-radius: 20px;
    filter: sepia();
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    transition: filter 0.3s;
  }
  .textContainer {
    margin-block: 20px;
    row-gap: 20px;
  }
  .textContainer h2 {
    font-size: 1.2rem;
    align-self: center;
  }
  .textContainer h4 {
    font-size: 0.7rem;
    margin: 0;
    width: auto;
    transform: translateX(0px);
  }
  .textContainer h4 a i {
    font-size: 0.6rem;
  }
  .techUsedContainer {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
  .techUsedContainer .skillItem {
    column-gap: 8px;
    padding-inline: 8px;
    font-size: 0.65rem;
  }
  .sectionHeader h1 {
    font-size: 1.9rem;
  }
  .aboutContent {
    grid-template-columns: 1fr;
  }
  .aboutContent ul li p {
    font-size: 1.1em;
  }
  .aboutContent ul li i {
    font-size: 1.5em;
  }
  .headerContainer p {
    font-size: 1.5rem;
  }
  .headerContainer h1 {
    font-size: 3rem;
  }
  .headerContainer h4 {
    font-size: 0.8rem;
  }
  .headerContainer {
    margin-block: 400px;
  }
  .aboutRightColumn img {
    position: relative;
    margin-block: 40px;
  }
}
